[Unit]
Description=K3S Agent Node %i Podman Container

[Service]
Restart=always
RestartSec=30
ExecStartPre=modprobe iptable_filter
ExecStartPre=modprobe iptable_nat
ExecStartPre=/usr/bin/podman secret exists k3s-token
Environment="NAME=k3s-agent-%i"
EnvironmentFile=/usr/local/etc/sysconfig/podman-options

[Container]
ContainerName=${NAME}
HostName=${NAME}
Label=app=k3s
Label=cluster=${CLUSTER}
Image=k3s.image
DNSSearch=${DNS_SEARCH}
Pull=never
ShmSize=5g
Timezone=UTC
LogDriver=journald
EnvironmentFile=/usr/local/etc/sysconfig/k3s
Environment=K3S_TOKEN_FILE=/run/secrets/k3s-token
Secret=k3s-token,mode=0400
Network=kube-agent.network:ip=${NODE_IP},interface_name=agent0
Volume=/etc/machine-id:/etc/machine-id:ro
Volume=${NAME}-kubelet:/var/lib/kubelet:Z
Volume=${NAME}-pod-logs:/var/log/pods:Z
Volume=${NAME}-data:/var/lib/rancher/k3s:Z
Volume=${NAME}-rancher:/etc/rancher
PodmanArgs=--oom-score-adj=1000 --privileged

[Install]
WantedBy=default.target
