[Unit]
Description=K3S Server Node %i Podman Container
Upholds=k3s-apiserverlb@0.service

[Service]
Restart=always
RestartSec=30
ExecStartPre=modprobe iptable_filter
ExecStartPre=modprobe iptable_nat
ExecStartPre=/usr/bin/podman secret exists k3s-token
Environment="NAME=k3s-server-%i"
EnvironmentFile=/usr/local/etc/sysconfig/podman-options

[Container]
ContainerName=${NAME}
HostName=${NAME}
AddCapability=ALL
Label=app=k3s
Label=cluster=${CLUSTER}
Image=k3s.image
DNSSearch=${DNS_SEARCH}
Pull=never
SeccompProfile=unconfined
SecurityLabelDisable=true
ShmSize=5g
Timezone=UTC
LogDriver=journald
Environment=K3S_TOKEN_FILE=/run/secrets/k3s-token
# Secret=k3s-agent-token,mode=0400
Secret=k3s-token,mode=0400
Volume=/etc/machine-id:/etc/machine-id:ro
Volume=${NAME}-kubelet:/var/lib/kubelet:Z
Volume=${NAME}-data:/var/lib/rancher/k3s:Z
Volume=${NAME}-rancher:/etc/rancher:Z
Volume=${NAME}-storage:/var/lib/rancher/k3s/storage:Z
Volume=${NAME}-log:/var/log/pod:Z
Volume=${NAME}-containers:/var/lib/containers:Z
Volume=/usr/local/lib/rancher/k3s/server/static/charts:/var/lib/rancher/k3s/server/static/charts/extra:z,rw
Volume=/usr/local/lib/rancher/k3s/server/manifests:/var/lib/rancher/k3s/server/manifests/compute:z
AddDevice=/dev/fuse:/dev/fuse
PodmanArgs=--oom-score-adj=1000 --privileged

[Install]
WantedBy=default.target
