---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: jellyfin-ir
  namespace: jellyfin
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`jellyfin.app.rick.expresso.lan`)
    kind: Rule
    middlewares:
    - name: mw-headers
    services:
    - name: web-client
      namespace: jellyfin
      kind: Service
      port: web
      passHostHeader: true
      responseForwarding:
        flushInterval: 1ms
      sticky:
        cookie:
          httpOnly: true
          name: cookie
          secure: true
          sameSite: none
          maxAge: 42  
  tls:
    domains:
    - main: jellyfin.app.rick.expresso.lan
    secretName: default
