---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base
- persistentvolumeclaims/media-pvc.yaml
- ingressroute.yaml
- certificate.yaml

secretGenerator:
- name: web-password
  namespace: jellyfin
  files:
  - web.password.txt

patches:
- path: deployment.yaml
- path: middleware/headers.yaml

patchesStrategicMerge:
- ingressroute.yaml
