---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

secretGenerator:
- name: web-password
  namespace: jellyfin
  files:
  - web.password.txt

patches:
- path: deployment.yaml
- path: pvc/cache-pvc.yaml
- path: pvc/plugins-pvc.yaml
- path: pvc/config-pvc.yaml
- path: pvc/data-pvc.yaml
- path: pvc/images-pvc.yaml
- path: pvc/media-pvc.yaml
- path: pvc/metadata-pvc.yaml
- path: pvc/transcodes-pvc.yaml

patchesStrategicMerge:
- certificate/web-svc-certificate.yaml
- ingressroute/web-svc-ingressroute.yaml
- middleware/web-svc-headers.yaml
