---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- namespace.yaml
- middleware/headers.yaml
- persistentvolumeclaims/data-pvc.yaml
- persistentvolumeclaims/config-pvc.yaml
- persistentvolumeclaims/config-plugins-pvc.yaml
