---
apiVersion: v1
kind: Service
metadata:
  name: web-client
  namespace: jellyfin
  annotations:
    metallb.io/address-pool: pool-internal
  labels:
    app: jellyfin
spec:
  selector:
    app: jellyfin
  ports:
    - name: web
      protocol: TCP
      port: 8085
      targetPort: web
  type: ClusterIP
  sessionAffinity: ClientIP
  internalTrafficPolicy: Local
