---
- name: Create or Update k3s-token podman secret
  # TODO install this collection in a mounted location for use with ansible-* containers
  containers.podman.podman_secret:
    state: present
    name: k3s-token
    # recreate the secret
    force: true
    data: "{{ K3S_TOKEN }}"
  when: K3S_TOKEN is defined
  tags:
    - quadlet
    - quadlet.secrets
    - k3s.token
