---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: motion
  namespace: motion
  labels:
    app: motion
spec:
  replicas: 1
  selector:
    matchLabels:
      app: motion
  template:
    metadata:
      name: motion
      namespace: motion
      labels:
        app: motion
    spec:
      restartPolicy: Always
      containers:
      - name: motion
        # https://github.com/Motion-Project/motion/releases/tag/release-4.7.1
        # https://motion-project.github.io/4.6.0/motion_config.html
        image: docker.io/steve51516/motion:v4.7.1
        ports:
        - containerPort: 8081
          name: stream
          protocol: TCP
        securityContext:
          privileged: true
        volumeMounts:
        - name: motion-conf
          mountPath: /root/.motion/
          readOnly: true
        - name: media
          mountPath: /var/motion/
        resources:
          requests:
            memory: "1G"
            cpu: "500m"
          limits:
            memory: "1G"
            cpu: "500m"
      volumes:
      - name: motion-conf
        configMap:
          name: motion-conf-cm
      - name: media
        persistentVolumeClaim:
          claimName: media-pvc
