---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rtsp0
  namespace: v4l2rtspserver
  labels:
    app: rtsp0
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: rtsp0
  template:
    metadata:
      name: rtsp0
      namespace: v4l2rtspserver
      labels:
        app: rtsp0
    spec:
      initContainers:
      - name: ffmpeg
        image: docker.io/steve51516/ffmpeg-rpi:latest
        securityContext:
          # TODO limit permissions to only those required
          # TODO configure seccomp profiles for vc4 device on rpi4
          privileged: true
        restartPolicy: Always
        args:
        - -f
        - v4l2
        - -framerate
        - "25"
        - -video_size
        - 1280x720
        - -i
        - /dev/video0
        - -c:v
        - h264_v4l2m2m
        - -preset
        - medium
        - -crf
        - "23"
        - -c:a
        - pcm_s16le
        - -b:a
        - 128k
        - -f
        - v4l2
        - /dev/video30
        volumeMounts:
          - name: video0
            mountPath: /dev/video0
          - name: video1
            mountPath: /dev/video1
          - name: video30
            mountPath: /dev/video30
          - name: snd0
            mountPath: /dev/snd
      containers:
      - name: rtsp0
        livenessProbe:
          tcpSocket:
            port: rtsp-tcp
          initialDelaySeconds: 120
        # https://github.com/mpromonet/v4l2rtspserver/releases/tag/v0.3.12
        image: docker.io/mpromonet/v4l2rtspserver:v0.3.12
        securityContext:
          privileged: true
          # TODO configure only required capabilities
          # TODO configure seccomp profiles
          # capabilities:
            # add:
            # - CAP_SYS_RAWIO
            # - CAP_NET_RAW
            # - CAP_NET_BIND_SERVICE
            # - CAP_SYS_NICE
        ports:
        - containerPort: 8554
          name: rtsp-tcp
          protocol: TCP
        - containerPort: 8554
          name: rtsp-udp
          protocol: UDP
        - containerPort: 8085
          name: rtsp-hls
        volumeMounts:
        - name: video0
          mountPath: /dev/video0
        - name: video1
          mountPath: /dev/video1
        - name: video30
          mountPath: /dev/video30
        - name: snd0
          mountPath: /dev/snd
        env:
        # Variable holding the rtsp server password
        # Will differ for each overlay
        - name: RTSP_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rtsp0-password
              key: rtsp0.password.txt
              optional: false
        resources:
          requests:
            memory: "200Mi"
            cpu: "1000m"
          limits:
            memory: "500Mi"
            cpu: "2000m"
      securityContext:
        # TODO map video group to k3s-agent
        # runAsGroup: 985
        runAsUser: 0
      volumes:
      - name: snd0
        hostPath:
          path: /dev/snd
          type: Directory
      # ffmpeg capture devices
      # v4l2rtspserver audio devices
      - name: video0
        hostPath: 
          path: /dev/video0
          type: CharDevice
      - name: video1
        hostPath: 
          path: /dev/video1
          type: CharDevice
      # ffmpeg loopback output device
      # v4l2rtspserver capture device
      - name: video30
        hostPath: 
          path: /dev/video30
          type: CharDevice
      dnsPolicy: ClusterFirst
      restartPolicy: Always
