[Service]
EnvironmentFile=/usr/local/etc/sysconfig/podman-options

[Unit]
Description=Podman Network kube-server. Each K3S host (physical machine, VM) will need a route to this network.

[Network]
NetworkName=kube-server
Label=cluster=${CLUSTER}
Label=app=k3s
Options=com.docker.network.bridge.name=server0

[Install]
WantedBy=default.target
