---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rtsp0
  namespace: v4l2rtspserver
  labels:
    app: rtsp0
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: rtsp0
  template:
    metadata:
      name: rtsp0
      namespace: v4l2rtspserver
      labels:
        app: rtsp0
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: rtsp
                  operator: In
                  values:
                    - "0"
      containers:
      - name: rtsp0
        # TODO Add IngressRouteTCP and IngressRouteUDP for rtsp ports
        #    This allows rtsp to be accessed via traefik rather than directly
        # TODO setup muticast network once motion is deployed
        args:
        - -p
        - "8085"
        - -u
        - ""
        - -fH264
        - -W 1280
        - -H 720
        - -F 30
        - -S60
        - -A
        - "48000"
        - -C
        - "1"
        - -a
        - S16_LE
        - "/dev/video30,/dev/video0"
