---
# Allow for updating individual services via ansible tags
- name: Reload systemd configurations - systemctl daemon-reload
  ansible.builtin.systemd_service:
    daemon_reload: true
  tags:
    systemd.services
    systemd.services.ip-route-add
    systemd.services.ip-route-add.server
    systemd.services.ip-route-add.server.service
    systemd.services.ip-route-add.agent-local
    systemd.services.ip-route-add.agent-local.service
    systemd.services.ip-route-add.agent-remote
    systemd.services.ip-route-add.agent-remote.service
    systemd.services.ip-route-add.cluster
    systemd.services.ip-route-add.cluster.service
    systemd.services.ip-route-add.vrf10
    systemd.services.ip-route-add.vrf10.service
    systemd.services.ip-route-add.end0
    systemd.services.ip-route-add.end0.service

### Enable and start all ip-route-add@ instances
- name: Enable ip-route-add@vrf10.service
  ansible.builtin.systemd_service:
    enabled: true
    name: ip-route-add@vrf10
  tags:
    systemd.services
    systemd.services.ip-route-add
    systemd.services.ip-route-add.vrf10
    systemd.services.ip-route-add.vrf10.service

- name: Enable ip-route-add@end0.service
  ansible.builtin.systemd_service:
    enabled: true
    name: ip-route-add@end0
  tags:
    systemd.services
    systemd.services.ip-route-add
    systemd.services.ip-route-add.end0
    systemd.services.ip-route-add.end0.service

- name: Enable ip-route-add@server.service
  ansible.builtin.systemd_service:
    enabled: true
    name: ip-route-add@server
  tags:
    systemd.services
    systemd.services.ip-route-add
    systemd.services.ip-route-add.server
    systemd.services.ip-route-add.server.service

- name: Enable ip-route-add@agent-remote.service
  ansible.builtin.systemd_service:
    enabled: true
    name: ip-route-add@agent-remote
  tags:
    systemd.services
    systemd.services.ip-route-add
    systemd.services.ip-route-add.agent-remote
    systemd.services.ip-route-add.agent-remote.service

- name: Enable ip-route-add@cluster.service
  ansible.builtin.systemd_service:
    enabled: true
    name: ip-route-add@cluster
  tags:
    systemd.services
    systemd.services.ip-route-add
    systemd.services.ip-route-add.cluster
    systemd.services.ip-route-add.cluster.service
