[Service]
EnvironmentFile=/usr/local/etc/sysconfig/podman-options

[Unit]
Description=Podman Network kube-service

[Network]
NetworkName=kube-service
Label=cluster=${CLUSTER}
Label=app=k3s
Options=com.docker.network.bridge.name=kube-service

[Install]
WantedBy=default.target
