# Configure K3D management cluster

export CLUSTER_MANAGER="bootstrapper"
export CLUSTER_DOMAIN="cluster.local"

# TODO store this as a podman secret, mount to k3d cluster members via podman secret
# Taken from https://github.com/alexellis/k3sup#create-a-multi-master-ha-setup-with-external-sql
export TOKEN="$(openssl rand -base64 64)"

# See for more information https://k3d.io/v5.6.0/usage/advanced/podman/?h=podman#using-podman
export DOCKER_HOST=unix:///run/podman/podman.sock
export DOCKER_SOCK=/run/podman/podman.sock

# TODO create podman volumes, then copy these files into those volumes
# mount those volumes to the pods rather than the users directory
export MANIFESTS="$(pwd)/bootstrap/k3d/manifests"
export MANIFESTS_SKIP="$(pwd)/bootstrap/k3d/skip"

export MANAGEMENT_MIRROR_URL="https://registry-1.docker.io"
export MANAGEMENT_REGISTRY_USER=""
export MANAGEMENT_REGISTRY_PASS=""

# Must be prefixed with k3d- or k3d will fail to find the registry
# k3d registry create prefixes k3d- for us
export REGISTRY="${CLUSTER_MANAGER}-registry.localhost"
export REGISTRY_IMAGE_STORE="k3d-registry-images"
export INSTANCE="$(hostname -s)"

# Podman network name
export CLUSTER_NETWORK="k3d0"
# Must be set to the bridge devices default route IP address
# Client IP from dhcp server shown
export CLUSTER_APISERVER_ADDVERTISE_IP="192.168.0.100"
