---
# TODO Convert this to Traefik IngressRoute
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pihole
  namespace: pihole
  labels:
    app: pihole
  annotations:
    traefik.frontend.rule.type: PathPrefix
spec:
  rules:
  - host: pihole.app.rick.expresso.lan
    http:
      paths:
      - path: /admin
        pathType: Prefix
        backend:
          service:
            name: pihole-web-svc
            port:
              name: web
