[Unit]
Description=Podman container k3s-rick-apiserverlb.service for %I
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n-%i
Restart=always
RestartSec=30
TimeoutStartSec=600
TimeoutStopSec=70
ExecStart=/usr/bin/podman run \
	--name k3s-rick-apiserverlb \
	-h k3s-rick-apiserverlb \
	--network=nodes:ip=10.98.0.5,alias=loadbalancer \
	--network=services:ip=10.43.0.253 \
	--dns-search=expresso.lan \
	--dns=10.50.0.1 \
	-p 6443:6443 \
	--tz=UTC \
	--cidfile=%t/%n.ctr-id \
	--cgroups=no-conmon \
	--rm \
	--sdnotify=conmon \
	-d \
	--replace \
	--pull missing \
	--privileged \
	--annotation=app=k3s \
	--annotation=cluster=rick \
	-v=/usr/local/etc/k3s/nginx.conf:/etc/nginx/nginx.conf:ro \
	 docker.io/nginx:stable
	
ExecStop=/usr/bin/podman stop \
	--ignore -t 10 \
	--cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
	-f \
	--ignore -t 10 \
	--cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
