[Unit]
Description=Podman container-k3s-rick-server-2.service for %I
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers
After=k3s-server-0.service
Before=k3s-agent-0.service
Before=k3s-agent-1.service
Before=k3s-agent-2.service
PartOf=k3s-server-0.service
PartOf=k3s-server-2.service

[Service]
# Delegate=yes
KillSignal=SIGKILL
Environment=PODMAN_SYSTEMD_UNIT=%n-%i
Restart=always
RestartSec=30
TimeoutStartSec=600
TimeoutStopSec=70
ExecStartPre=modprobe iptable_filter
ExecStartPre=modprobe iptable_nat
ExecStart=/usr/bin/podman run \
	--name=k3s-rick-server-1 \
	-h k3s-rick-server-1 \
	--network=nodes:ip=10.98.0.2 \
	--network=services \
	--dns-search=expresso.lan \
	--dns=10.50.0.1 \
	--systemd=always \
	--cgroups=no-conmon \
	--userns=host \
	--sdnotify=conmon \
	--tz=UTC \
	--cidfile=%t/%n.ctr-id \
	--events-backend=journald \
	--rm \
	-d \
	--replace \
	--pull missing \
	--device /dev/fuse:/dev/fuse \
	-v /etc/machine-id:/etc/machine-id:ro \
	-v /run/podman/podman.sock:/run/podman/podman.sock \
	-v /root/.kube/config:/root/admin.kubeconfig:z \
	-v k3s-server-1-rancher-data:/var/lib/rancher/k3s \
	-v k3s-server-1-rancher-config:/etc/rancher \
	-v k3s-server-1-kubelet:/var/lib/kubelet \
	-v k3s-server-1-pod_logs:/var/log/pod \
	-v k3s-server-1-local-path:/var/lib/rancher/k3s/storage \
	-v k3s-server-1-containers:/var/lib/containers \
	-v /usr/local/etc/k3s/k3s-server-1.yaml:/etc/rancher/k3s/config.yaml:ro \
  	-v /var/local/etc/k3s/manifests:/var/lib/rancher/k3s/server/manifests/compute:z \
  	-v /var/local/etc/k3s/skip:/var/lib/rancher/k3s/server/manifests/skip:z \
	--shm-size 5g \
	--privileged \
	--cap-add=ALL \
	--security-opt label=disable \
	--security-opt seccomp=unconfined \
	--oom-score-adj=1000 \
	--secret k3s-token,type=env,target=K3S_TOKEN \
	--annotation=app=k3s \
	docker.io/rancher/k3s:v1.29.0-k3s1 \
	server
	
ExecStop=/usr/bin/podman stop \
	--ignore -t 10 \
	--cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
	-f \
	--ignore -t 10 \
	--cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
