[Unit]
Description=Podman container-k3d-rick-agent-3.service for %I
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n-%i
Restart=always
RestartSec=30
TimeoutStartSec=600
TimeoutStopSec=70
# -p 10.50.0.1:10250:10250/tcp \
# -p 10.50.0.1:6443:6443/tcp \
ExecStart=/usr/bin/podman run \
	--network=host \
	--add-host rick.expresso.lan:10.50.0.2 \
	--cidfile=%t/%n.ctr-id \
	--cgroups=no-conmon \
	--rm \
	--sdnotify=conmon \
	-d \
	--replace \
	--name k3s-morty-agent-3 \
	-h morty.expresso.lan \
	-v k3s-agent:/var/lib/rancher/k3s \
	-v k3s-rancher:/etc/rancher \
	-v /run/podman/podman.sock:/run/podman/podman.sock:rw \
	--shm-size 200m \
	--privileged \
	-e K3S_URL=https://rick.expresso.lan:6443 \
	-e K3S_EXTERNAL_IP=10.50.0.1 \
	--secret agent-token,type=env,target=K3S_TOKEN \
	--annotation app=k3s \
	docker.io/rancher/k3s:v1.27.4-k3s1 \
	agent \
	--node-label app=v4l2rtspserver \
	--node-label app=camera0 \
	--with-node-id \
	--node-ip 10.50.0.1 \
	--kube-proxy-arg --hostname-override k3s-rick-agent-3
	
ExecStop=/usr/bin/podman stop \
	--ignore -t 10 \
	--cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
	-f \
	--ignore -t 10 \
	--cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
