---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: motion
  namespace: motion
  labels:
    app: motion
spec:
  selector:
    matchLabels:
      app: motion
  template:
    metadata:
      name: motion
      namespace: motion
      labels:
        app: motion
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: app
                  operator: In
                  values:
                    - compute
      containers:
      - name: motion
        volumeMounts:
        - name: camera1-conf
          mountPath: /etc/motion/conf.d/
          readOnly: true
        - name: renderd128
          mountPath: /dev/dri/renderd128
        - name: card1
          mountPath: /dev/dri/card1
        resources:
          requests:
            memory: "10G"
            cpu: "100m"
          limits:
            memory: "10G"
            cpu: "100m"
      volumes:
      - name: camera1-conf
        configMap:
          name: camera1-conf-cm
      - name: renderd128
        hostPath:
          path: /dev/dri/renderD128
          type: CharDevice
      - name: card1
        hostPath:
          path: /dev/dri/card1
          type: CharDevice
